<template>
    <div>
        <!-- sidebar part end --><section class="main_content dashboard_part">
        <div class="main_content_iner">
            <!-- mewnu -->
            <div class="container-fluid no-gutters">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="header_iner d-flex justify-content-between align-items-center">
                            <div class="sidebar_icon d-lg-none">
                                <i class="ti-menu"></i>
                            </div>
                            <div class="page_tittle">
                                <h3>Students</h3>
                                <p class="page_subtitle">Dashboard <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Course Lists</span> </p>
                            </div>
                            <div class="header_right d-flex justify-content-between">
                                <div class="serach_field-area">
                                    <div class="search_inner">
                                        <form action="#">
                                            <div class="search_field">
                                                <input type="text" placeholder="Search content here...">
                                            </div>
                                            <button type="submit"> <i class="ti-search"></i> </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="profile_info">
                                    <img src="img/client_img.png" alt="#">
                                    <div class="profile_info_iner">
                                        <p>Welcome Admin!</p>
                                        <h5>Travor James</h5>
                                        <div class="profile_info_details">
                                            <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                            <a href="../setting/setting_general_customer.php">Settings <i
                                                    class="ti-settings"></i></a>
                                            <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ menu  -->
            <div class="container-fluid plr_30">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="white_box QA_section">
                            <div class="white_box_tittle list_header">
                                <h4>Students List</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add_button ml-10">
                                        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Add a
                                            Student</a>
                                    </div>
                                </div>
                            </div>

                            <div class="QA_table ">
                                <!-- table-responsive -->
                                <table class="table lms_table_active">
                                    <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email address</th>
                                        <th scope="col">Courses Enrolled</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="student_list_img">
                                                <img src="img/student/1.png" alt="" srcset="">
                                            </div>
                                        </th>
                                        <td>Travor James</td>
                                        <td>travor_james@lms.com</td>
                                        <td>How to learn photoshop cc
                                            Advanced learning on Illustrator cc</td>
                                        <td>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle lms_drop_1" type="button"
                                                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Options
                                                </button>
                                                <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                    <a href="#" class="dropdown-item" type="button">Edit</a>
                                                    <a href="#" class="dropdown-item" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- main content part end -->
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>