<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>dashboard</h3>
                                    <p class="page_subtitle">Welcome to dashboard</p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here..." >
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="single_element">
                                <div class="quick_activity">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="quick_activity_wrap">
                                                <div class="single_quick_activity">
                                                    <div class="quick_activity_icon">
                                                        <i class="material-icons">
                                                            supervised_user_circle
                                                        </i>
                                                    </div>
                                                    <h3> <span class="counter">32</span> </h3>
                                                    <p>Total number of Students</p>
                                                </div>

                                                <div class="single_quick_activity">
                                                    <div class="quick_activity_icon">
                                                        <i class="material-icons">
                                                            assignment
                                                        </i>
                                                    </div>
                                                    <h3><span class="counter">45</span></h3>
                                                    <p>Total number of Quizes</p>
                                                </div>
                                                <div class="single_quick_activity">
                                                    <div class="quick_activity_icon">
                                                        <i class="material-icons">
                                                            import_contacts
                                                        </i>
                                                    </div>
                                                    <h3><span class="counter">25</span></h3>
                                                    <p>Total number of Subjects</p>
                                                </div>
                                                <div class="single_quick_activity">
                                                    <div class="quick_activity_icon">
                                                        <i class="material-icons">
                                                            extension
                                                        </i>
                                                    </div>
                                                    <h3><span class="counter">220</span></h3>
                                                    <p>Total number of Questions</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Monthly Income stats for 2019</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Payment Statistics (November 2019)</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar_bold"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-8">
                            <div class="white_box QA_section mt_30">
                                <div class="white_box_tittle list_header">
                                    <h4>Instructor Revenues</h4>
                                    <!-- <div class="list_header_filter">
                                    <p> <img src="img/icon/filter.svg" alt="#">Sort by</p>
                                    <select name="#" class="nice_Select sm_btn">
                                        <option value="Most recent">Most recent</option>
                                        <option value="course duration">course duration</option>
                                        <option value="top sell">top sell</option>
                                    </select>
                                </div> -->
                                </div>
                                <div class="table-responsive QA_table">
                                    <table class="table lms_table_active">
                                        <thead>
                                        <tr>
                                            <th scope="col">Course title</th>
                                            <th scope="col">Instructor</th>
                                            <th scope="col">Email address</th>
                                            <th scope="col">Revenue</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Travor James</td>
                                            <td>travor_james@gmail.com</td>
                                            <td>$2500.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4 class="mb_7">Overview of Courses</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="canvas-holder">
                                        <canvas height="268px" id="myChart" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "dashboard"
    }
</script>

<style scoped>

</style>