<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">

                <!-- mewnu -->
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Private Messages</h3>
                                    <p class="page_subtitle">Dashboard <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Course Lists</span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ menu  -->

                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="messages_box_area">
                                <div class="messages_list">
                                    <div class="white_box ">
                                        <div class="white_box_tittle list_header">
                                            <h4>Message List</h4>
                                        </div>
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search content here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="message_pre_left">
                                                        <div class="message_preview_thumb">
                                                            <img src="img/messages/1.png" alt="">
                                                        </div>
                                                        <div class="messges_info">
                                                            <h4>Travor James</h4>
                                                            <p>i know you are doing great in the course.</p>
                                                        </div>
                                                    </div>
                                                    <div class="messge_time">
                                                        <span>28th Nov</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="messages_chat">
                                    <div class="white_box ">
                                        <div class="single_message_chat">
                                            <div class="message_pre_left">
                                                <div class="message_preview_thumb">
                                                    <img src="img/messages/1.png" alt="">
                                                </div>
                                                <div class="messges_info">
                                                    <h4>Travor James</h4>
                                                    <p>Yesterday at 6.33 pm</p>
                                                </div>
                                            </div>
                                            <div class="message_content_view red_border">
                                                <p>
                                                    Dear KK,
                                                    <br>
                                                    Thank you for your update.
                                                    <br>

                                                    <span>
                                                We do not sell or share your details without your permission. Find
                                                out
                                                more
                                                in our Privacy Policy. Your username, email and password can be
                                                updated
                                                via
                                                your Codepixar Account settings.
                                                <br>
                                            </span>
                                                    Regards,
                                                </p>
                                            </div>
                                        </div>
                                        <div class="single_message_chat sender_message">
                                            <div class="message_pre_left">
                                                <div class="messges_info">
                                                    <h4>Agatha Kristy</h4>
                                                    <p>Yesterday at 6.33 pm</p>
                                                </div>
                                                <div class="message_preview_thumb">
                                                    <img src="img/messages/1.png" alt="">
                                                </div>
                                            </div>
                                            <div class="message_content_view">
                                                <p>
                                                    Dear KK,
                                                    <br>
                                                    Thank you for your update.
                                                    <br>

                                                    <span>
                                                We do not sell or share your details without your permission. Find
                                                out
                                                more
                                                in our Privacy Policy. Your username, email and password can be
                                                updated
                                                via
                                                your Codepixar Account settings.
                                                <br>
                                            </span>
                                                    Regards,
                                                </p>
                                            </div>
                                        </div>
                                        <div class="message_send_field">
                                            <input type="text" placeholder="Write your message" value="">
                                            <button class="btn_1" type="submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>