<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <!-- mewnu -->
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Coupons</h3>
                                    <p class="page_subtitle">
                                        <span>Dashboard</span>
                                        <span class="page_subtitle_inenr">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(206, 193, 194)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Exam</span>
                                        <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M0.000,10.000 L0.000,-0.000 L8.000,5.000 L0.000,10.000 Z" />
                                    </svg>
                                    Subjects
                                </span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ menu  -->
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="white_box QA_section">
                                <div class="white_box_tittle list_header">
                                    <h4>Coupons List</h4>
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form Active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search all categories here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="add_button ml-10">
                                            <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Create New
                                                Coupon</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="QA_table ">
                                    <!-- table-responsive -->
                                    <table class="table lms_table_active  ">
                                        <thead>
                                        <tr>
                                            <th scope="col">Coupon title</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Minimum Purchase</th>
                                            <th scope="col">Discount Limit</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="nowrap" scope="row"> Black Friday Coupon</th>
                                            <td>BF100</td>
                                            <td>Value</td>
                                            <td>$10.00</td>
                                            <td>N/A</td>
                                            <td>$10.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row">Cyber Monday Sale</th>
                                            <td>CM250</td>
                                            <td>Percent</td>
                                            <td>15%</td>
                                            <td>$40.00</td>
                                            <td>$50.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row"> Black Friday Coupon</th>
                                            <td>BF100</td>
                                            <td>Value</td>
                                            <td>$10.00</td>
                                            <td>N/A</td>
                                            <td>$10.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row">Cyber Monday Sale</th>
                                            <td>CM250</td>
                                            <td>Percent</td>
                                            <td>15%</td>
                                            <td>$40.00</td>
                                            <td>$50.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row"> Black Friday Coupon</th>
                                            <td>BF100</td>
                                            <td>Value</td>
                                            <td>$10.00</td>
                                            <td>N/A</td>
                                            <td>$10.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row">Cyber Monday Sale</th>
                                            <td>CM250</td>
                                            <td>Percent</td>
                                            <td>15%</td>
                                            <td>$40.00</td>
                                            <td>$50.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row"> Black Friday Coupon</th>
                                            <td>BF100</td>
                                            <td>Value</td>
                                            <td>$10.00</td>
                                            <td>N/A</td>
                                            <td>$10.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="nowrap" scope="row">Cyber Monday Sale</th>
                                            <td>CM250</td>
                                            <td>Percent</td>
                                            <td>15%</td>
                                            <td>$40.00</td>
                                            <td>$50.00</td>
                                            <td>Active</td>
                                            <td>
                                                <div class="dropdown ">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu option_width" aria-labelledby="dropdownMenu1">
                                                        <a href="#" class="dropdown-item" type="button">Edit</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="lms_pagination_wrap text-center">
                                <ul>
                                    <li><a href="#">
                                        <i class="fas fa-caret-left"></i>
                                    </a></li>
                                    <li>
                                        <a class="active" href="#">
                                            01
                                        </a>
                                    </li>
                                    <li><a href="#">
                                        <i class="fas fa-caret-right"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

</style>