<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Payment Report</h3>
                                    <p class="page_subtitle">Dashboard <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z"></path>
                                    </svg>
                                    Payment</span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="white_box">
                                <div class="white_box_tittle mb_15">
                                    <h4>Export Payment Report</h4>
                                </div>
                                <div class="row mb_10">
                                    <div class="col-lg-4 col-xl-4">
                                        <div class="input_wrap">
                                            <label for="#">All Records</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">No</option>
                                                <option value="Category 01">yes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input_wrap common_date_picker">
                                            <label for="#">Start date</label>
                                            <input class="input_form" id="start_datepicker" placeholder="Enter start date">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input_wrap common_date_picker">
                                            <label for="#">End date</label>
                                            <input class="input_form" id="end_datepicker" placeholder="Enter start date">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6">
                                        <div class="input_wrap">
                                            <label for="#">Payment type</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">online</option>
                                                <option value="Category 01">Offline</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6">
                                        <div class="input_wrap">
                                            <label for="#">Payment Sattus</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">Successful</option>
                                                <option value="Category 01">Unsuccessful</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="search_course_btn text-center">
                                            <button type="submit" class="btn_1 big_btn">Download Excel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Offline Payment Statistics (In price)</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Offline Payment Statistics (In quantity)</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar_bold"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Online Payment Statistics (In price)</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="white_box chart_box mt_30">
                                <div class="white_box_tittle mb_8 d-sm-flex justify-content-center justify-content-between">
                                    <h4>Online Payment Statistics (In quantity)</h4>
                                </div>
                                <div class="monthly_engagement">
                                    <div id="morris_bar_bold1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->
    </div>
</template>

<script>
    export default {
        name: "payment_report"
    }
</script>

<style scoped>

</style>