<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <!-- mewnu -->
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Exam Series</h3>
                                    <p class="page_subtitle">
                                        <span>Dashboard</span>
                                        <span class="page_subtitle_inenr">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(206, 193, 194)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Exam</span>
                                        <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M0.000,10.000 L0.000,-0.000 L8.000,5.000 L0.000,10.000 Z" />
                                    </svg>
                                    Question Subjects
                                </span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ menu  -->
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="white_box QA_section">
                                <div class="white_box_tittle list_header">
                                    <h4>Exam Series List</h4>
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search all categories here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="add_button ml-10">
                                            <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Create
                                                Series</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="QA_table ">
                                    <!-- table-responsive -->
                                    <table class="table lms_table_active">
                                        <thead>
                                        <tr>
                                            <th scope="col">Series title</th>
                                            <th scope="col">Payment type</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Validity</th>
                                            <th scope="col">Total exams</th>
                                            <th scope="col">Total Questions</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Paid</td>
                                            <td>150.00</td>
                                            <td>120 days</td>
                                            <td>05</td>
                                            <td>25</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>30 days</td>
                                            <td>08</td>
                                            <td>45</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Paid</td>
                                            <td>150.00</td>
                                            <td>120 days</td>
                                            <td>05</td>
                                            <td>25</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>30 days</td>
                                            <td>08</td>
                                            <td>45</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Paid</td>
                                            <td>150.00</td>
                                            <td>120 days</td>
                                            <td>05</td>
                                            <td>25</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>30 days</td>
                                            <td>08</td>
                                            <td>45</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Paid</td>
                                            <td>150.00</td>
                                            <td>120 days</td>
                                            <td>05</td>
                                            <td>25</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>30 days</td>
                                            <td>08</td>
                                            <td>45</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Paid</td>
                                            <td>150.00</td>
                                            <td>120 days</td>
                                            <td>05</td>
                                            <td>25</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Excess Series</th>
                                            <td>Free</td>
                                            <td>0.00</td>
                                            <td>30 days</td>
                                            <td>08</td>
                                            <td>45</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="exam_series_update_quiz.php" class="dropdown-item">Update quizes</a>
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="lms_pagination_wrap text-center">
                                <ul>
                                    <li><a href="#">
                                        <i class="fas fa-caret-left"></i>
                                    </a></li>
                                    <li>
                                        <a class="active" href="#">
                                            01
                                        </a>
                                    </li>
                                    <li><a href="#">
                                        <i class="fas fa-caret-right"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->

        <!-- // modal -->
        <!-- add cate gory  -->
        <div class="modal fade cs_modal" id="addcategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="#">
                        <div class="modal-header lms_block">
                            <h5>Create New Series</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input_wrap">
                                        <label for="#">Series title</label>
                                        <input class="input_form" name="input_form" placeholder="Enter quiz title">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">Category</label>
                                        <select name="#" class="nice_Select">
                                            <option value="Mentor category">Mentor category</option>
                                            <option value="Mentor category2">Mentor category2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">Payment type</label>
                                        <select name="#" class="nice_Select">
                                            <option value="Payment type">Paid</option>
                                            <option value="Payment type">free</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">Total Exams</label>
                                        <select name="#" class="nice_Select">
                                            <option value="01">05</option>
                                            <option value="02">15</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">Total Questions</label>
                                        <select name="#" class="nice_Select">
                                            <option value="01">45</option>
                                            <option value="02">55</option>
                                            <option value="03">65</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">Start date</label>
                                        <input class="input_form" id="start_datepicker" placeholder="Pick a start date">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input_wrap">
                                        <label for="#">End date</label>
                                        <input class="input_form" id="end_datepicker" placeholder="Pick an end date">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="input_wrap text-left mb_20">
                                        <div class="chose_thumb_title">Image</div>
                                        <div class="file_upload">
                                            <div class="form-group">
                                                <input type="file" name="file" id="file" class="input-file">
                                                <label for="file" class="btn btn_file_upload js-labelFile">
                                                    <span class="js-fileName">Select Image</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input_wrap">
                                        <label for="#">Short description</label>
                                        <input class="input_form" name="input_form" placeholder="Enter short description">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input_wrap">
                                        <label for="#">Description</label>
                                        <textarea name="#" id="#" placeholder="Enter some description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer modal_btn">
                            <button type="button" class="close white_btn2" data-dismiss="modal" aria-label="Close">
                                Cancel
                            </button>
                            <button type="submit" class="btn_1 m-0">Create Series</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "series"
    }
</script>

<style scoped>

</style>