<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <!-- mewnu -->
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Subjects</h3>
                                    <p class="page_subtitle">
                                        <span>Dashboard</span>
                                        <span class="page_subtitle_inenr">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(206, 193, 194)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Exam</span>
                                        <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M0.000,10.000 L0.000,-0.000 L8.000,5.000 L0.000,10.000 Z" />
                                    </svg>
                                    Subjects
                                </span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ menu  -->
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="white_box QA_section">
                                <div class="white_box_tittle list_header">
                                    <h4>Subjects List</h4>
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form Active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search all categories here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="add_button ml-10">
                                            <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Add New
                                                Exam Category</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="QA_table ">
                                    <!-- table-responsive -->
                                    <table class="table lms_table_active  ">
                                        <thead>
                                        <tr>
                                            <th scope="col">Subject title</th>
                                            <th scope="col"></th>
                                            <th scope="col">Subject code</th>
                                            <th scope="col"></th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">Math</a></th>
                                            <td></td>
                                            <td>Math - 523</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">General Knowledge</a></th>
                                            <td></td>
                                            <td>GK - 784</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">Math</a></th>
                                            <td></td>
                                            <td>Math - 523</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">General Knowledge</a></th>
                                            <td></td>
                                            <td>GK - 784</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">Math</a></th>
                                            <td></td>
                                            <td>Math - 523</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">General Knowledge</a></th>
                                            <td></td>
                                            <td>GK - 784</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">Math</a></th>
                                            <td></td>
                                            <td>Math - 523</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content">General Knowledge</a></th>
                                            <td></td>
                                            <td>GK - 784</td>
                                            <td></td>
                                            <td>
                                                <div class="category_option">
                                                    <div class="custom_select">
                                                        <div class="courses_option">
                                                            <span>options</span> <i class="fas fa-caret-down"></i>
                                                        </div>
                                                        <div class="courses_option_content">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#edit_chapter">Edit</a>
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#delete_btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="lms_pagination_wrap text-center">
                                <ul>
                                    <li><a href="#">
                                        <i class="fas fa-caret-left"></i>
                                    </a></li>
                                    <li>
                                        <a class="active" href="#">
                                            01
                                        </a>
                                    </li>
                                    <li><a href="#">
                                        <i class="fas fa-caret-right"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->

        <!-- // model -->
        <!-- add cate gory  -->
        <div class="modal fade cs_modal medium_modal_width" id="addcategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="#">
                        <div class="modal-header">
                            <h5>Add New Subject</h5>
                        </div>
                        <div class="modal-body">
                            <div class="input_wrap">
                                <label for="#">Subject title</label>
                                <input class="input_form" name="input_form" placeholder="Enter subject name">
                            </div>
                            <div class="input_wrap">
                                <label for="#">Subject code</label>
                                <input class="input_form" name="input_form" placeholder="Enter subject code">
                            </div>
                        </div>
                        <div class="modal-footer modal_btn">
                            <button type="button" class="close white_btn2" data-dismiss="modal" aria-label="Close">
                                Cancel
                            </button>
                            <button type="submit" class="btn_1 m-0">Save Subject</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "subjectMaster"
    }
</script>

<style scoped>

</style>