<template>
    <div>
        <section class="main_content dashboard_part">
            <div class="main_content_iner">
                <!-- mewnu -->
                <div class="container-fluid no-gutters">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="header_iner d-flex justify-content-between align-items-center">
                                <div class="sidebar_icon d-lg-none">
                                    <i class="ti-menu"></i>
                                </div>
                                <div class="page_tittle">
                                    <h3>Course</h3>
                                    <p class="page_subtitle">Dashboard <span class="page_subtitle_inenr active_subcat">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="8px" height="10px">
                                        <path fill-rule="evenodd" fill="rgb(254, 23, 36)"
                                              d="M-0.000,10.000 L-0.000,-0.000 L8.000,5.000 L-0.000,10.000 Z" />
                                    </svg>
                                    Course Lists</span> </p>
                                </div>
                                <div class="header_right d-flex justify-content-between">
                                    <div class="serach_field-area">
                                        <div class="search_inner">
                                            <form action="#">
                                                <div class="search_field">
                                                    <input type="text" placeholder="Search content here...">
                                                </div>
                                                <button type="submit"> <i class="ti-search"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="profile_info">
                                        <img src="img/client_img.png" alt="#">
                                        <div class="profile_info_iner">
                                            <p>Welcome Admin!</p>
                                            <h5>Travor James</h5>
                                            <div class="profile_info_details">
                                                <a href="my_profile.php">My Profile <i class="ti-user"></i></a>
                                                <a href="../setting/setting_general_customer.php">Settings <i
                                                        class="ti-settings"></i></a>
                                                <a href="#">Log Out <i class="ti-shift-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ menu  -->
                <div class="container-fluid plr_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="white_box mb_30">
                                <div class="white_box_tittle list_header">
                                    <h4>Advanced Filter</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="input_wrap">
                                            <label for="#">Course categories</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">Select Category</option>
                                                <option value="Category 02">Category 01 </option>
                                                <option value="Category 03">Category 02</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="input_wrap">
                                            <label for="#">Course Instructor</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">Select Instructor</option>
                                                <option value="Category 02">Instructor 1</option>
                                                <option value="Category 03">Instructor 2 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="input_wrap">
                                            <label for="#">Price category</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">Select categories</option>
                                                <option value="Category 02">Select categories 2</option>
                                                <option value="Category 03">Select categories 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-3">
                                        <div class="input_wrap">
                                            <label for="#">Course status</label>
                                            <select name="#" class="nice_Select2 mb_20">
                                                <option value="Category 01">Select status</option>
                                                <option value="Category 02">status 01</option>
                                                <option value="Category 02">status 02</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="search_course_btn text-center">
                                            <button type="submit" class="btn_1 big_btn">Search Course</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="white_box QA_section">
                                <div class="white_box_tittle list_header">
                                    <h4>Course List</h4>
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form Active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search content here...">
                                                    </div>
                                                    <button type="submit"> <i class="ti-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="add_button ml-10">
                                            <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">Add New
                                                Category</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="QA_table ">
                                    <!-- table-responsive -->
                                    <table class="table lms_table_active">
                                        <thead>
                                        <tr>
                                            <th scope="col">Course title</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Instructor</th>
                                            <th scope="col">Lesson</th>
                                            <th scope="col">Enrolled Student</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn yellow_btn">Pending</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn yellow_btn">Pending</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> <a href="#" class="question_content"> How to learn photoshop
                                                easily (Beginner)</a></th>
                                            <td>Web Design</td>
                                            <td>Travor James</td>
                                            <td>25 Lessons</td>
                                            <td>16</td>
                                            <td>$25.00</td>
                                            <td><a href="#" class="status_btn">Active</a></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle lms_drop_1" type="button"
                                                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        Options
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        <a href="#" class="dropdown-item" type="button">View on
                                                            frontend</a>
                                                        <a href="#" class="dropdown-item" type="button">Edit course</a>
                                                        <a href="#" class="dropdown-item" type="button">Mark as
                                                            pending</a>
                                                        <a href="#" class="dropdown-item" type="button">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer part -->
            <div class="footer_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_iner text-center">
                                <p>Copyright © 2019. All rights reserved to <a href="#">Infix Learning Management System</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content part end -->
    </div>
</template>

<script>
    export default {
        name: "CategoryIndex"
    }
</script>

<style scoped>

</style>