.certificate_wrap{
    padding: 80px 254px;
    background: #fff;
    @media #{$small_mobile} {
        padding: 20px 15px;
    }
    @media #{$large_mobile} {
        padding: 40px 45px;
    }
    @media #{$tab_device} {
        padding: 40px;
    }
    @media #{$medium_device} {
        padding: 40px;
    }
    @media #{$big_screen} {
        padding: 40px;
    }
    @media #{$extra_big_screen} {
        padding: 80px 100px;
    }
    .certificate_inner{
        padding-top: 106px;
        padding-bottom: 100px;
        @media #{$small_mobile} {
            padding-top: 45px;
            padding-bottom: 40px;
        }
        @media #{$large_mobile} {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        table{
            width: 100%;

            tbody{
                text-align:center;
                .certificate_logo{
                    margin-bottom: 37px;
                    @media #{$small_mobile} {
                        margin-bottom: 15px;
                    }
                    img{
                        @media #{$small_mobile} {
                            width: 80px;
                        }
                    }
                }
            }
            tfoot{
                
                tr{
                    display: grid;
                    grid-template-columns: 240px auto 240px;
                    padding: 0 138px;
                    align-items: flex-end;
                    margin-top: 64px;
                    @media #{$small_mobile} {
                        grid-template-columns: 1fr;
                        padding: 0 30px;
                        margin-top: 20px;
                    }
                    @media #{$large_mobile} {
                        grid-template-columns: 170px auto 170px;
                        padding: 0 40px;
                    }
                    @media #{$tab_device} {
                        padding: 0 50px;
                    }
                    @media #{$medium_device} {
                        padding: 0 50px;
                    }
                }
                td{
                    text-align: center;
                    p{

                    }
                    span{
                        border-top: 1px dashed #cec1c2;
                        display: inline-block;
                        // padding: 0 50px 15px 50px;
                        margin-bottom: 5px;
                        display: block;
                        color: #7e7172;
                        margin-top: 13px;
                        font-weight: 300;
                        padding-top: 5px;
                        @media #{$small_mobile} {
                            margin-top: 5px;
                            font-size: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        position: relative;
        background-size: cover;
        z-index: 0;
        // text-align: center;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-image: url(../img/certificate/certificate_bg.png);
            z-index: -1;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        h1{
            font-size: 60px;
            font-weight: 400;
            color: #222222;
            font-family: 'Great Vibes', cursive;
            margin-bottom: 0;
            margin-bottom: 11px;
            @media #{$small_mobile} {
                font-size: 20px;
                margin-bottom: 0;
            }
            @media #{$large_mobile} {
                font-size: 40px;
                margin-bottom: 0;
            }
        }
        p{
            font-size: 16px;
            font-weight: 300;
            color: #7e7172;
            margin-bottom: 0;
            @media #{$small_mobile} {
                font-size: 10px;
            }
        }
        h2{
            font-size: 32px;
            font-weight: 500;
            color: #222222;
            margin-bottom: 0;
            margin-bottom: 5px;
            margin-top: 28px;
            @media #{$small_mobile} {
                font-size: 20px;
                margin-top: 10px;
            }
            @media #{$large_mobile} {
                font-size: 22px;
                margin-top: 20px;
            }
        }
        h3{
            font-size: 24px;
            font-weight: 500;
            color: #222222;
            margin-bottom: 0;
            margin-bottom: 5px;
            margin-top: 40px;
            @media #{$small_mobile} {
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 0;
            }
            @media #{$large_mobile} {
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }
}