.courses_list_part{
    .list_header_filter{
        display: flex;
        align-items: center;
        .single_select_item{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            margin-left: 30px;
            p{
                margin-bottom: 0;
            }
            .nice_Select{
                margin: 0 15px;
            }
        }
    }
}
.single_instructior_courses{
    background-color: $white;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    p{
        font-size: 12px;
        span{
            font-weight: 500;
            color: $heading_color_1;
        }
    }
    .courses_details{
        display: flex;
        img{
            max-width: 193px;
            border-radius: 5px;
        }
        .courses_details_content{
            padding-left: 30px;
            h5{
                margin-bottom: 2px;
                a{
                    color: $heading_color_1;
                    &:hover{
                        color: $base_color;
                    }
                }
            }
            h6{
                font-size: 14px;
                font-weight: 500;
                margin: 17px 0 0;
                i{
                    margin-right: 5px;
                }
            }
        }
    }
    .courses_price{
        text-align: center;
        position: relative;
        .btn_1{
            border-radius: 50px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            padding: 13px 32px;
            line-height: 17px;
        }
        
    }
    
}
.custom_select{
    // position: relative;
    position: relative;
    width: 103px;
    height: 30px;
    border: 1px solid #eee1e2;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
    .courses_option_content{
        padding: 14px 19px;
        background-color: #ffffff;
        color: $text_color;
        text-align: left;
        border-radius: 5px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        transform-origin: right top;
        @include transform_time(.5s);
        width: 100%;
        right: 0;
        top: 20px;
        border-radius: 0;
        border-right: 1px solid #eee1e2;
        border-bottom: 1px solid #eee1e2;
        border-left: 1px solid #eee1e2;
        z-index: 99;
        a{
            display: block;
            padding: 6px 0;
            font-size: 12px;
            color: #7f7778;
            font-weight: 300;
            &:hover{
                color: #fe1724;
            }
        }
    }
    &.active{
        .courses_option_content{
            opacity: 1;
            visibility: visible;
            transform: translateY(10px);
        }
        .courses_option{
            background: $base_color;
            color: #fff;
            span{
                color: #fff;
            }
            i{
                color: #fff;
            }
        }
    }
    &:hover{
        .courses_option{
            background: $base_color;
            color: #fff;
            i{
                color: #fff;
            }
            span{
                color: #fff;
            }
        }

    }
}
.courses_option{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    text-transform: capitalize;
    height: 30px;
    border-radius: 3px;
    z-index: 9;
    span{
        font-size: 12px;
        color: #7e7172;
        font-weight: 300;
    }
    i{
        font-size: 14px;
        color: #cec1c2;
    }
}
.pageination_part{
    p{
        color: $heading_color_1;
    }
    .pagination{
        justify-content: flex-end;
    }
    .page-link{
        border: 0px solid transparent;
        background-color: transparent;
        color: $heading_color_1;
        padding: 13px 12px;
        line-height: 14px;
        font-weight: 500;
        &.nav_btn{
            background-color: $white;
            font-size: 14px;
            line-height: 14px;
            padding: 13px 25px;
            border-radius: 5px;
            margin: 0 12px;
            border: 1px solid $white;
            &:hover{
                background-color: $base_color;
                color: $white;
                border: 1px solid $base_color;
            }
        }
    }
}
.cs_modal{
    .modal-body{
        padding: 50px;
        text-align: center;
        h2{
            font-size: 20px;
            line-height: 32px;
            font-weight: 600;
            margin-bottom: 25px;
        }
        .btn_1{
            padding: 11px 26px;
            margin: 0 5px;
        }
    }
}

.custom_navtab li {
    margin-left: 10px;
    @media #{$large_mobile} {
        margin-left: 5px;
    }
    @media #{$small_mobile} {
        margin: 5px 5px 5px 0;
    }
    a.active{
        background: #fe1724 !important;
        color: #fff;
    }
}