.courses_managment{
   .courses_managment_tittle{
       align-items: center;
       margin-bottom: 30px;
       h5{
           font-weight: 600;
           font-size: 20px;
           margin-bottom: 0;
           span{
               color: $text_color_2;
           }
       }
       .custom_select{
           position: relative;
           top: 0;
           right: 0;
           .courses_option {
                position: relative;
            }
           .courses_option_content{
                transform: translateY(30px);
                z-index: 99;
           }
           &.active {
               .courses_option_content{
                    transform: translateY(20px);

                }
           }
       }
   }
   .nav-pills{
       .nav-link{
            font-size: 16px;
            padding: 17px 20px;
            background-color: $white;
            border: 1px solid $border_color_4;
            margin-bottom: 10px;
            border-radius: 5px;
            color: $heading_color_1;
            font-weight: 500;
            &.active{
                background-color: $base_color;
                color: $white;
           }
       }
   }
} 
.courses_managment_deatils{
    .chapter_name{
        display: flex;
        justify-content: space-between;
        h5{
            font-weight: 600;
            margin-bottom: 20px;
            span{
                color: $text_color;
            }
        }
        .courses_option {
            position: absolute;
            right: 30px;
            top: 34px;
            text-align: right;
        }
    }
    .single_instructior_courses{
        margin-bottom: 30px;
    }
    .single_chapter_part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 30px;
        background-color: $section_bg;
        margin-bottom: 15px;
        border-radius: 5px;
        &:last-child{
            margin-bottom: 0;
        }
        .chapter_part_content{
            position: relative;
            padding-left: 35px;
            i{
                position: absolute;
                left: 0;
                top: 2px;
                color: $icon_color;
            }
            h5{
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 17px;
            }
        }
        .chapter_content_btn{
            a{
                color: $heading_color_1;
                font-size: 12px;
                margin-left: 25px;
                font-weight: 500;
            }
            .chapter_btn{
                color: $base_color;
            }
        }
    }
}
.file_excenge{
    .sm_btn{
        width: auto;
        margin-bottom: 20px;
    }
    .single_chapter_part .chapter_part_content{
        i {
            top: 6px;
        }
        p a{
            color: $text_color;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
