.dashboard_part{
    .notification_tab{
        padding: 27px 25px;
        background-color: $section_bg_1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        @include transform_time(.5s);
        p{
            font-size: 16px;
            color: $heading_color_1;
            a{
                color: $base_color;
            }
        }
    }
    .hide_icon{
        cursor: pointer;
        i{
            color: $base_color;
            font-size: 10px;
        }
    }
}
.white_box{
    padding: 40px;
    background-color: $white;
    @include border-radius(5px);
    @media #{$small_mobile} {
        padding: 30px 25px;
    }
    .white_box_tittle{
        h4{
           font-size: 16px;
           font-weight: 500; 
           margin-bottom: 0;
           @media #{$tab}{
            margin-bottom: 15px;
        }
        }
    }
}
.white_box2{
    padding: 40px 40px 25px 40px;
    background-color: $white;
    @include border-radius(5px);
    @media #{$small_mobile} {
        padding: 30px 25px;
    }
    .white_box_tittle{
        h4{
           font-size: 16px;
           font-weight: 500; 
           margin-bottom: 0;
           @media #{$tab}{
            margin-bottom: 15px;
        }
        }
    }
}
.chart_box{
    .white_box_tittle{
        margin-bottom: 20px;
        h4{
            margin-bottom: 2px;
            @media #{$tab}{
                margin-bottom: 15px;
            }
        }
    }
    p{
        margin-bottom: 29px;
        color: $text_color_3;
    }
}
.chart_box{
    //troggle box
    label{
        margin-bottom: 0;
    }
    .b {
        display: block !important;
    }
    .toggle {
        position: relative;
        width: 44px;
        height: 22px;
        border-radius: 50px;
        background-color: $text_color_2;
        border: 1px solid $text_color_2;
        overflow: hidden;
    }
    .check {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 6;
    }
    .check:checked ~ .switch {
        right: 5px;
        left: 57.5%;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0.08s, 0s;
    }
    .switch {
        position: absolute;
        left: 5px;
        top: 3px;
        bottom: 2px;
        right: 57.5%;
        background-color: $white;
        border-radius: 50%;
        z-index: 1;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0s, 0.08s;
        height: 13px;
        width: 13px;
        padding: 6px !important;
        margin-right: 0;
        &:after{
            display: none;
        }
    }
    .hide {
        display: none !important;
    }
}

//QA section content
.QA_section{
    .QA_table{
        th, td{
            font-size: 13px;
            font-weight: 400;
            line-height: 1.9;
            color: $heading_color_1;
            padding: 13px 30px;
            vertical-align: middle ;
        }
        .question_content{
            color: $text_color;
            font-size: 13px;
            &:hover{
                color: $base_color;
            }
        }
        thead{
            th{
                white-space: nowrap;
            }
        }
        tbody{
            th, td{
                color: $text_color;
                font-size: 13px !important;
                color: #7e7172;
                font-weight: 300;
                border-bottom: 1px solid $border_color_4;
                a{
                    font-size: 13px;
                    color:#7e7172;
                    font-weight: 300;
                }
            }
            th{
                // white-space: nowrap;
            }
            tr{
                @include transition(.3s);
                // &:first-child{
                //     th, td{
                //         border: 0px solid transparent;
                //     }
                // }
                &:hover{
                    background: #fff7f8;
                }
            }
        }
        
        .view_btn{
            color: $base_color;
            &:hover{
                text-decoration: underline;
            }
        }
        .table {
            margin-bottom: 0 !important ;
            thead th{
                border-bottom: 0 solid transparent;
                background-color: $section_bg;
                padding: 17px 30px;
                line-height: 16px;
                border: 0px solid transparent;
                font-size: 12px;
                font-weight: 400;
                color: #222222;
                white-space: nowrap;
            }
        }
    }
}
