.exam_certifica_area{
    .white_box_tittle{
        margin-bottom: 25px;
    }
    .certificate_mail_generate_wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
        @media #{$small_mobile} {
            grid-template-columns: repeat(1, 1fr);
        }
        .single_generate{
            @media #{$small_mobile}{
                margin-bottom: 20px;
            }
            .checkbox_wrap{
                display: grid;
                grid-template-columns: 50px auto;
                align-items: self-start;
                grid-gap: 18px;
                .lms_checkbox_1{
                    // margin-right: 20px;
                }
            }
            .generate_text{
                h5{
                    font-size: 14px;
                    font-weight: 500;
                    color: #222222;
                    margin-bottom: 0;
                }
                p{
                    font-size: 13px;
                    font-weight: 300;
                    color: #7e7172;
                }
            }
        }
    }
    .add_layout_bg_area{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 50px;
        @media #{$small_mobile} {
            grid-template-columns: repeat(1, 1fr);
        }
        @media #{$large_mobile} {
            grid-template-columns: repeat(1, 1fr);
        }
        @media #{$tab_device} {
            grid-template-columns: repeat(2, 1fr);
        }
        @media #{$medium_device} {
            grid-template-columns: repeat(2, 1fr);
        }
        .white_box_tittle{
            margin-bottom: 20px;
        }
        .select_layout_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 140px 0;
            @media #{$small_mobile} {
                padding: 110px 0; 
            }
            .fileup_img{
                position: relative;
                .background_uploader input{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    opacity: 0;
                }
            }
        }
    }
    .save_change_download{
       .btn_1{
        margin-right: 7px;
        @media #{$small_mobile} {
            margin-bottom: 15px;
        }
        @media #{$large_mobile} {
            margin-bottom: 15px;
        }
       }
    }
}

.layout_bg_1{
    background-image: url(../img/exam_certificate/layout_bg.png);
}
.layout_bg_2{
    background-image: url(../img/exam_certificate/layout_bg.png);
}