/************** footer css ****************/
.footer_part{
    text-align: center;
    padding: 18px 0;
    background: #fff;
    p{
        font-size: 14px;
        font-weight: 300;
        
        a{
            color: $base_color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
/************** footer css end ****************/