// .sidebar{
//     display: none;
// }
.horizontal_menu{
    background: #fff;
    position: absolute;
    z-index: 999;
    padding: 0 165px;
    width: 100%;
    left: 0;
    top: 0;
    // margin-top: -101px;
    @include transform(translateY(-105%));
    transition: .5s;
    &.horizontal_menu_active{
        @include transform(translateY(0%));
    }
    @media #{$medium_device} {
        padding: 0 30px;
    }
    @media #{$large_device} {
        padding: 0 60px;
    }
    @media #{$extra_big_screen} {
        padding: 0 90px;
    }
    @media #{$tab} {
        display: none !important;
    }
    .header_wrapper{
        .header_left{
            .logo{
                img{

                }
            }
        }
        .main_menu{
            ul{
                li{
                    display: inline-block;
                    position: relative;
                    &:hover > a{
                        color: #222;
                    }
                    .submenu{
                        position: absolute;
                        min-width: 200px;
                        left: 0;
                        top: 120%;
                        background: #fff;
                        text-align: left;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
                        opacity: 0;
                        visibility: hidden;
                        @include transition(.5s);
                        li{
                            display: block;
                            &:hover a{
                                left: 5px;
                                color: #222;
                            }
                            a{
                                font-size: 14px;
                                line-height: 1.33;
                                color: #7e7172;
                                padding: 0;
                                font-weight: 400;
                                display: block;
                                margin: 0;
                                padding: 11px 20px;
                                -webkit-transition: 0.3s;
                                -moz-transition: 0.3s;
                                -ms-transition: 0.3s;
                                -o-transition: 0.3s;
                                transition: 0.3s;
                                position: relative;
                                text-transform: capitalize;
                                left: 0;
                                @media #{$medium_device} {
                                    font-size: 11px;
                                }
                                @media #{$large_device} {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 14px;
                        color: #7e7172;
                        font-weight: 500;
                        display: inline-block;
                        padding:42px 17px;
                        @media #{$medium_device} {
                            font-size: 11px;
                            // padding:30px 5px;
                            padding:42px 5px;
                        }
                        @media #{$large_device} {
                            font-size: 11px;
                            padding:42px 10px;
                        }
                        @media #{$extra_big_screen} {
                            // font-size: 11px;
                            padding:42px 15px;
                        }
                        @media #{$extra_big_screen2} {
                            // font-size: 11px;
                            padding:42px 15px;
                        }
                        &:hover{
                            color: #222;
                        }
                        i{
                            color: #7e7172;
                            margin-left: 4px;
                        }
                    }
                    &:hover{
                        .submenu{
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                    }
                }
            }
        }
        .header_right{
            li{
                position: relative;
                a{
                    display: flex;
                    align-items: center;
                    span{
                        white-space: nowrap;
                        font-weight: 500;
                        color:#7e7172;
                        margin-right: 10px;
                        display: inline-block;
                        font-size: 14px;
                        @media #{$medium_device} {
                            font-size: 11px;
                        }
                        @media #{$large_device} {
                            font-size: 11px;
                        }
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        @include border-radius(50%);
                    }
                }
                .submenu{
                    position: absolute;
                    left: 0;
                    top: 120%;
                    background: #fff;
                    text-align: left;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
                    opacity: 0;
                    visibility: hidden;
                    width: 100%;
                    @include transition(.5s);
                    li{
                        display: block;
                        &:hover a{
                            left: 5px;
                            color: #222;
                        }
                        a{
                            font-size: 14px;
                            line-height: 1.33;
                            color: #7e7172;
                            padding: 0;
                            font-weight: 400;
                            display: block;
                            margin: 0;
                            padding: 11px 20px;
                            -webkit-transition: 0.3s;
                            -moz-transition: 0.3s;
                            -ms-transition: 0.3s;
                            -o-transition: 0.3s;
                            transition: 0.3s;
                            position: relative;
                            text-transform: capitalize;
                            left: 0;
                            @media #{$medium_device} {
                                font-size: 11px;
                            }
                            @media #{$large_device} {
                                font-size: 11px;
                            }
                        }
                    }
                }
                &:hover .submenu{
                    opacity: 1;
                    visibility: visible;
                    opacity: 1;
                    top: 140%;
                }
            }
        }
    }
}


.switcher_slide_wrapper{
    position: fixed;
    top: 25%;
    right: 0;
    background: #fff;
    z-index: 9999;
    @include transform(translateX(100%));
    @include transition(.5s);
    &.swith_show{
        @include transform(translateX(0%));
    }
    @media #{$tab} {
        display: none !important;
    }
    .switcher_slide_wrapper_inner{
        position: relative;
        padding:18px;
    }
    h5{
        color: #222;
        font-size: 18px;
        text-transform: capitalize;
    }
    .spin_icon_clicker{
        position: absolute;
        top: 0px;
        left: -30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #fff;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        i{
            font-size: 18px;
            color: #fe1724;
            line-height: 30px;
        }
    }
    ul{
        li{
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &.active{
                i{
                    color: #fe1724;
                }
            }
            i{
                font-size: 16px;
               
                margin-right: 10px;
                color: #f8dbdd;
                transition: .3s;
            }
            span{
                font-size: 14px;
                color: #222;
                text-transform: capitalize;

            }
        }
    }
}