.sertificate_layout_select_wrap{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    @media #{$small_mobile} {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    @media #{$large_mobile} {
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$tab_device} {
        grid-template-columns: repeat(3, 1fr);
    }
    .single_sertificate{
        .layout_style{
            border: 1px solid #eee1e2;
            height: 180px;
            border-radius: 3px;
            margin-bottom: 13px;
            @media #{$small_mobile}{
                height: 100px;
            }
            @media #{$tab_device}{
                height: 145px;
            }
            &.layout_style_selected{
                border: 1px solid #fe1724;
            }
        }
        .layout_name{
            h4{
                font-size: 12px;
                font-weight: 300;
                color: #222222;
            }
        }
    }
}

  .cs_modal.max_withModal_1320{
    
    @media (min-width: 1400px){
        .modal-dialog.custom-modal-dialog {
            max-width: 1320px;
        }
    }

  }