/******** main content css here *********/
.main_content{
    
    // padding-left: 15%;
    padding-left: 270px;
    width: 100%;
    // padding-top: 135px;
    padding-top: 0px !important; 
    background: #fef1f2;
    transition: .5s;
    &.main_content_padding_hide{
        padding-left: 0px;
        padding-top: 100px !important;
    }
    
    @media #{$tab}{
        padding: 90px 0 0 0;
    }
    @media #{$small_mobile}{
        padding: 120px 0 0 0;
    }
    @media #{$large_mobile}{
        padding: 120px 0 0 0;
    }
    @media #{$tab_device}{
        padding: 120px 0 0 0;
    }
    @media #{$medium_device}{
        padding-left: 20%;
        // padding-left: 25%;
    }
    .main_content_iner{
        min-height: 68vh;
        margin-bottom: 100px;
        transition: .5s;
        &.main_content_iner_padding{
            @media #{$large_device} {
                padding: 0 30px 0 30px;
            }
            @media #{$extra_big_screen} {
                padding: 0 60px 0 60px;
            }
            @media #{$min_1680px} {
                padding: 0 135px 0 135px;
            }
        }
        @media #{$small_mobile} {
            margin-bottom: 50px;
        }
        @media #{$large_mobile} {
            margin-bottom: 50px;
        }
    }
}
.address_book_hint{
    p{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 8px;
    }
}
.single_element{
    h4{
        margin-bottom: 30px;
    }
    .quick_activity_wrap{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        @media #{$small_mobile}{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 15px;
        }
        @media #{$large_mobile}{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
        @media #{$tablet_device}{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
        @media #{$mid_device}{
            grid-template-columns: repeat(2, 1fr);
        }
        @media #{$large_device}{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .single_quick_activity{
        background-color: $white;
        border-radius: 5px;
        @include transform_time(.5s);
        padding: 28px 30px;
        position: relative;
        padding-left: 133px;
        @media #{$small_mobile}{
            // margin-bottom: 20px;
            padding: 20px 15px;
            padding-left: 100px;
        }
        @media #{$large_mobile}{
            // margin-bottom: 20px;
            padding: 20px 15px;
            padding-left: 100px;
            min-height: 130px;
        }
        @media #{$medium_device}{
            // margin-bottom: 20px;
        }
        @media #{$tab_device}{
            // margin-bottom: 20px;
        }
        
        .quick_activity_icon{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #fff7f8;
            line-height: 80px;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            left: 30px;
            top: 50%;
            position: absolute;
            left: 30px;
            transform: translateY(-50%);
            @include transform_time(.5s);
            @media #{$small_mobile}{
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            @media #{$large_mobile}{
                width: 60px;
                height: 60px;
                line-height: 60px;
                left: 25px;
            }
            i{
                font-size: 30px;
                line-height: 80px;
                color: #fe1724;
                @include transform_time(.5s);
                @media #{$small_mobile}{
                    line-height: 60px;
                }
                @media #{$large_mobile}{
                    line-height: 60px;
                }
            }
        }
        h3{
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 0;
            font-weight: 700;
            @include transform_time(.5s);
        }
        p{
            @include transform_time(.5s);
        }
        &:hover{
            background: #fe1724;
            h3,p{
                color: #fff;
            }
            .quick_activity_icon{
                background-color: rgba(255, 247, 248,0.2);
                i{
                    color: #ffffff;
                }
               
            }
        }
    }
}
/******** main content css end *********/
  
  