.messages_box_area{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 30px;
    @media #{$small_mobile} {
        grid-template-columns: 1fr;
    }
    @media #{$tab} {
        grid-template-columns: 1fr;
    }
    @media #{$medium_device} {
        grid-template-columns: 1fr;
    }
    @media #{$large_device} {
        grid-template-columns: 6fr 6fr;
    }
    @media #{$extra_big_screen} {
        grid-template-columns: 5fr 7fr;
    }
    .messages_list{
        .serach_field_2{
            width: 100%;
        }
        ul{
            margin-top: 30px;
            margin-bottom: 30px;
            li{
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    border-bottom: 1px solid #eee1e2;
                    padding: 20px 0;
                    .message_pre_left{
                       
                        display: flex;
                        align-items: center;

                        .message_preview_thumb{
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                        .messges_info{
                            padding-left: 20px;
                        }
                        h4{
                            font-size: 14px;
                            font-weight: 500;
                            color: #222222;
                            margin-bottom: 6px;
                        }
                        p{
                            font-size: 13px;
                            font-weight: 300;
                            color: #7e7172;
                            margin-bottom: 0;
                        }
                    }
                    .messge_time{
                        span{
                            font-size: 12px;
                            font-weight: 300;
                            color: #cec1c2;
                        }
                    }
                }
                &:hover a{
                    padding-left: 20px;
                    padding-right: 20px;
                    background: #fff7f8;
                }
            }
        }
    }
    .messages_chat{
        .single_message_chat{
            margin-bottom: 50px;
            padding-right: 20%;
            @media #{$small_mobile}{
                padding-right: 0%;
                margin-bottom: 30px;
            }
            @media #{$tab}{
                padding-right: 0%;
                margin-bottom: 30px;
            }
            @media #{$large_device}{
                padding-right: 0%;
                margin-bottom: 30px;
            }
            @media #{$medium_device}{
                padding-right: 0%;
                margin-bottom: 30px;
            }
            .message_content_view {
                background: #fff7f8;
                border-radius: 10px;
                padding: 30px;
                &.red_border{
                    border: 1px solid #fe1724;
                }
                span{
                    display: block;
                    margin: 17px 0 17px 0;
                }
                p{
                    font-size: 13px;
                    font-weight: 300;
                    color: #7e7172;
                    line-height: 26px;
                }
            }
            .message_pre_left{
                margin-bottom: 20px;
                display: flex;
                align-items: center;
    
                .message_preview_thumb{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                .messges_info{
                    padding-left: 20px;
                }
                h4{
                    font-size: 16px;
                    font-weight: 500;
                    color: #222222;
                    margin-bottom: 2px;
                }
                p{
                    font-size: 12px;
                    font-weight: 300;
                    color: #7e7172;
                    margin-bottom: 0;
                }
            }
            &.sender_message{
                padding-right: 0%;
                padding-left: 20%;
                @media #{$small_mobile}{
                    padding-right: 0%;
                    padding-left: 0%;
                    margin-bottom: 30px;
                }
                @media #{$tab}{
                    padding-right: 0%;
                    padding-left: 0%;
                    margin-bottom: 30px;
                }
                @media #{$large_device}{
                    padding-right: 0%;
                    padding-left: 0%;
                    margin-bottom: 30px;
                }
                @media #{$medium_device}{
                    padding-right: 0%;
                    padding-left: 0%;
                    margin-bottom: 30px;
                }
                .message_pre_left {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .messges_info {
                    padding-left: 0px;
                    padding-right: 20px;
                    text-align: right;
                }
            }
        }
        .message_send_field{
            padding-top: 50px;
            display: grid;
            grid-template-columns: auto 110px;
            grid-gap: 10px;
            @media #{$small_mobile} {
                grid-template-columns: 1fr;
                margin-top: 20px;
            }
            input{
                color: #000;
                font-size: 13px;
                height: 40px;
                width: 100%;
                border-radius: 5px;
                padding-left: 25px;
                border: 1px solid #eee1e2;
                padding-right: 15px;
                &::placeholder{
                    color: #7e7172;
                    font-weight: 300;
                    opacity: 1;
                }
            }
        }
    }
}